*, *:before, *:after {
  box-sizing: border-box !important;
}

 .apps .rows {
 -moz-column-width: 30em;
 -webkit-column-width: 30em;
 -moz-column-gap: .5em;
 -webkit-column-gap: .5em;

}

.apps .panel {
    padding-bottom: 0.25em;
    display: inline-block;
    margin:  .5em;
    padding:  0;
    width:24em;
}

.apps panel-heading {
    height: 6.25;
}

.icon {
    float:left;
    height:2em;
}
